
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>About Us</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Online Mobile Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}">
            <a class="nav-link" href="#">About Us</a>
          </li>
          
          </li>
          </ul>

          </div>

        </nav>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><b>Online Mobile Shop</b></h1>
          <p style="text-align: justify;">Online Mobile Shop is dedicated towards bringing you the best value for your money. Built upon the concept of providing convenience to our customers, we cater to all your mobile needs. This website has many features for customer to see the latest mobile update and buy the desire mobile and save time and money. Our motive is to provide a platform that customer easily buy the mobile and don't let to go outside to buy mobile home delivery service provided.Great Cell Phone Deals & Plans Exclusively from Verizon Wireless.
            Shop the latest smartphones, tablets & deals from brands like Apple, Samsung & ...
            Free Smartphone Deals · Unlimited Data Plans. We are providing a platform for a customer to visit our web portal and purchase the mobile and see the latest mobile updates. Cash on delivery will also be provided.The initially focused on some local mobiles sales, before expanding into other product categories such as consumer samsung, apple, qmobiles & huwai, and infinix products.This website has many features for customer to see the atest mobile update and buy the desire mobile and save time and money.My motive is to provide a platform that customer easily buy the mobile and don't let to go outside to buy mobile home delivery service provided.Mobile payments service based on the Unified Payments Interface (UPI).</p>
          <p><a class="btn btn-primary btn-lg" href="/" role="button">Back to Home Page &raquo;</a></p>
        </div>
      </div>
    
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Best Smartphone under 20000 in Pakistan</h2><br>
            <p style="text-align: justify;">Are you looking for an amazing smartphone in just Rs. 20,000? Do not worry, Goto has got you covered. Check some of the top smartphones that you can purchase in this range.<br>
            </p><p>
              
              <b>1. </b> Samsung Galaxy J2 Prime (Price – 15,999)<br>
              <b>2. </b>Vivo Y90 (Price – 16,299)<br>
              <b>3. </b>Nokia 2.2 (Price – 15,499)<br>
              <b>4. </b>Huawei Y5 2019 (Price – 19,199)<br>
              <b>5. </b>Oppo A1K (Price – 18,199)
            </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-md-4">
            <h2>Best Smartphone under 25000 in Pakistan</h2><br>
            <p style="text-align: justify;">You can also purchase some amazing smartphones within Rs. 25000. Here is a list of some top smartphones that you can get within your budget.
            </p><p>
              
              <b>1. </b>Huawei Honor 8 Lite (Price – 23,000) <br>
              <b>2. </b>Oppo A3s (Price – 24,999) <br>
              <b>3. </b> Realme 3 (Price – 20,000) <br>
              <b>4. </b>Samsung A10s (Price – 22,500) <br>
              <b>5. </b> Nokia 3.2 (Price – 22,500) </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-md-4">
            <h2>Best Smartphone under 35000 in Pakistan</h2><br>
            <p style="text-align: justify;">If you are looking for a mobile phone in Rs. 35,000, then you can buy it from Shop. Here is a list of some mobile phones that you can get under Rs. 35000.
            </p><p>
  
            <b>1. </b>   Infinix S5 6 GB (Price – 27,999)<br>
            <b>2. </b>   Motorola Moto One Macro (Price – 29,999)<br>
            <b>3. </b>   LG W30 Pro (Price – 30,470)<br>
            <b>4. </b>   Vivo Y17 (Price – 33,999)<br>
            <b>5. </b>   Honor 8X (Price – 34,999)<//p><p></p>>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
        </div>
    
        <hr>
    
      </div> <!-- /container -->
    
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
